@font-face {
    font-family: btfFont;
    src: url(https://ProgramSpaceTeam.github.io/cloud/font/TypeFont.woff2) format('woff2')
}

body {
    background-color: rgba(255, 255, 255, 0.8);
    font-family: btfFont;
    color: #000;
}

.card {
    border-radius: 15px;
    width: 45px;
    height: 45px;
    border: #efefef 1px solid;
    transition: all 0.1s;
    padding:8px;
    margin: 10px;
}

.card:hover {
    background-color: rgba(255, 255, 245, 0.6);
}

.head {
    padding: 10px;
    font-weight: 500;
}

.terms {
    width: 85vw;
    padding: 2vw;
    margin: auto;
    border: #efefef 1px solid;
    border-radius: 10px;
}

.terms .headf {
    text-align: center;
    margin: 30px;
}

.terms h2 {
    border-bottom: #444 2px solid;
    margin-bottom: 20px;
}

.terms .sxrq {
    text-align: right;
    margin-bottom: 30px;
    font-weight: 400;
}

.terms p {
    text-indent: 2em;
}

.terms .lk {
    text-align: right;
    font-weight: 400;
}

    transform: translate(-50%, -50%);
    padding: 15px;
    border-bottom: 2px solid #555;
}
