* {
    font-weight: 400;
}

html {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: btfFont;
    src: url(https://ProgramSpaceTeam.github.io/cloud/font/TypeFont.woff2) format('woff2')
}

body {
    background-color: rgba(0, 0, 0, 0.9);
    font-family: btfFont;
    color: #eee;
    padding-left: 10vw;
    padding-right: 10vw;
}

.kt {
    text-align: center;
}

p {
    line-height: 1.5;
    text-indent: 2em;
}
