@font-face {
  font-family: btfFont;
  src: url(https://ProgramSpaceTeam.github.io/cloud/font/TypeFont.woff2)
    format("woff2");
}
@font-face {
  font-family: font2;
  src: url(https://ProgramSpaceTeam.github.io/cloud/font/HFShinySunday.woff2)
    format("woff2");
}
body {
  font-family: "btfFont";
  background: fixed;
  background-image: url(https://pic.imgdb.cn/item/653bbbadc458853aef8a7c7b.jpg);
  background-size: cover;
}
.time {
  position: absolute;
  left: 50%;
  top: 12%;
  width: auto;
  height: auto;
  padding: 5px 30px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  transform: translate(-50%, -50%);
  transition: all 1s;
}

.time:hover {
  top: 10%;
}

h1 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
}

.search-wrapper {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -100%);
}

.search-container {
  position: relative;
  border-radius: 0px 30px 30px 0px;
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.07);
  width: 15vw;
  height: 40px;
  border: solid 2px rgba(0, 0, 0, 0.15);
  font-size: 18px;
  padding: 5px;
  font-family: "font2";
  color: #555;
  transition: all 0.75s;
  text-align: center;
  max-width: 1000px;
}

.search-container:hover {
  width: 45vw;
}
.search-container:focus {
  width: 50vw;
  transition: 0.4s;
  outline: none;
  backdrop-filter: none;
  color: #000;
}

.link {
  color: #333;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 5px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.link a:hover {
  animation: dih 1s forwards;
}

@keyframes dih {
  100% {
    color: #111;
  }
}

#myForm {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
}

#selectBox {
  width: 150px;
  height: 40px;
  border-radius: 15px;
  padding: 5px;
  margin-top: 30px;
  backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.1);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "font2";
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #222;
}

#quote {
  position: fixed;
  left: 50%;
  bottom: 10px;
  width: auto;
  height: auto;
  background-color: rgba(150, 150, 150, 0.4);
  backdrop-filter: blur(5px);
  color: #333;
  padding: 10px;
  border-radius: 10px;
  transform: translate(-50%, -100%);
  transition: all 0.5s;
}

#quote:hover {
  padding-left: 20px;
  padding-right: 20px;
  color: #111;
  background-color: rgba(100, 100, 100, 0.3);
}

#gpt {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0%);
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  color: #000;
}

.choose-div {
  transition: 0.5s;
  position: absolute;
  left: -80px;
  width: 0px;
  height: 0px;
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  border: solid 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.choose-div input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.choose-div label {
  font-size: 18px;
  display: inline-flex;
  min-width: 60px;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: solid 2px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.choose-div label img {
  width: 20px;
  height: 20px;
}

.choose-button.toggle ~ .choose-div
{
  height: 150px;
  width: 210px;
}

.choose-button {
  position: absolute;
  display: flex;
  justify-content: right;
  font-size: 1.2em;
  align-items: center;
  width: 100px;
  height: 54px;
  left: -98px;
  top: 0;
  border-radius: 30px 0px 0px 30px;
  background-color: #222;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(12px);
  font-family: "font2";
  animation: ch-btn 0.6s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes ch-btn {
  0% {
    width: -0px;
    height: 0px;
  }
}
